<div class="container">
    <div class="col-md-3"> <span class="logo">Logo</span> </div>
    <div class="col-md-9"></div>
</div>

<div class="container months">
    <div *ngFor="let item of selected" class="col-md-2"><span>{{ item }}</span></div>
   
    <div class="selector">
        <ul>
            <li (click)="ChangeMonth(m1)" #m1 [value]="2016">2016</li>
            <li (click)="ChangeMonth(m2)" #m2 [value]="2015">2015</li>
        </ul>
    </div>
</div>