.logo {
    font-size:40px;
    color:#205081;
    text-align: center;
}

.months {
    position:relative;
}

.months > .col-md-2 {
    cursor:pointer;
    text-align: center;
    padding: 10px 0;
    transition:all .5s ease .2s; 
    color: rgba(100, 100, 100, 1);
    font-size:20px;
}

.months > .col-md-2 span {
    display: block;
    transition: .2s;
}
.months > .col-md-2:hover, .selector>ul>li:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
    transition:all .1s ease-in-out .05s; 
}

.months > .col-md-2:hover span {
    transform: scale(1.1);
}


.selector {
    position:absolute;
    left:-10%;
    top:100%;
    display: flex;
    flex-direction: column;
}

.selector ul {
    list-style: none;
    margin:0;
    padding:5px 15px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.selector ul li {
    width: 100%;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: bold;
    color: grey;
    opacity:0.6;
    cursor: pointer;
    transition:all .5s ease .2s; 
}


